body {
    background-color: white;
}

h1 {
    
}

#logo {
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
}

#trail-image {
    
    height: 600px;
    width: 100%;
    background: url('../images/trail.jpg') no-repeat center center;

}

img {
  max-width: 100%;
  height: auto;
}

footer {
    text-align: center;
}