body {
    background-color: white;
    font-family: Arial, sans-serif;
}

h1  {
    text-align: center;
}

.menu {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav li a {
    color: black;
    font-size: 200%;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;

}
nav li a:hover {
    text-decoration: underline;
}    

#logo {
    font-size: 250%;

}

.whygeo {
  border: 5px outset black;
  border-radius: 15px;
  background-color: green;    
  text-align: center;
  color: antiquewhite;
}

#trail-image {
    
    height: 1000px;
    width: 60%%;
    background: url('../images/atrail.jpg') no-repeat center center;
    animation: enter-trail 7s forwards;

}
@keyframes enter-trail {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.1);
    }
}

img {
  max-width: 100%;
  height: auto;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}