body {
    background-color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
    box-sizing: border-box;
}
nav li {
    display: inline-block;
}
nav li a {
    color: green;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color .2s;
}
nav li a:hover {
    text-decoration: underline;
}    

#logo {
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
}

#trail-image {
    
    height: 600px;
    width: 100%;
    background: url('../images/trail.jpg') no-repeat center center;

}

img {
  max-width: 100%;
  height: auto;
}

footer {
    text-align: center;
}